:root {
  --cubitz-color-1: #8CAC00;
  --cubitz-color-2: #1D3758;
  --cubitz-color-3: #AD1200;
}
html {
  scroll-behavior: smooth; /* Añade esta línea */
}
body{
  background-color: white;
  color: black;
  font-family: Onest Variable,system-ui,sans-serif;
  width: 100%;
  margin-inline: auto;
}

header{
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
}
header>nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 4px;
  backdrop-filter: blur(5px);
}
.logo{
  padding: 10px;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.links>a{
  padding: 10px 6px;
  padding-inline: 10px;
}
.links>a:hover{
  outline: 2px solid var(--cubitz-color-2);
  border-radius: 5px;
}

.content{
  padding-top: 60px;
  max-width: 800px;
  margin-inline: auto;
}
.description>h1{
  text-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
}
.description>p{
  color: rgb(0,0,0,0.8);
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 40px;
}
