:root {
  --cubitz-color-1: #8CAC00;
  --cubitz-color-2: #1D3758;
  --cubitz-color-3: #AD1200;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: white;
  color: black;
  font-family: Onest Variable,system-ui,sans-serif;
  width: 100%;
  margin-inline: auto;
}

header{
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
}
header>nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 200px;

  background-color: rgb(255, 255, 255, 0.7);
  padding: 4px;
  backdrop-filter: blur(5px);
}
.logo{
  padding: 10px;
  width: auto;
}
.logo>picture>img{
  max-width: 200px;
  width: 100%;
  transition: transform ease .3s;
  object-fit: contain;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.links>a{
  padding: 10px 6px;
  padding-inline: 20px;
  flex: 1;
}
.links>a:hover{
  outline: 2px solid var(--cubitz-color-2);
  border-radius: 5px;
}


.content{
  padding-top: 70px;
  max-width: 800px;
  margin-inline: auto;
}
h1{
  display: flex;
  align-items: end;
  gap: 0.75rem;
  margin-bottom: 10px;

  text-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2em;
}
h1>svg{
  width: 30px;
  height: 30px;
}


.description{
  margin-bottom: 60px;
}
.description>h1{
  color: var(--cubitz-color-1);
}
.description>p{
  color: rgb(0,0,0,1);
  font-size: 1em;
  text-wrap: balance;
  margin-top: 0;
  margin-bottom: 40px;
}


.proyectos>h1{
  color: var(--cubitz-color-2);
  margin-bottom: 30px;
}
.Container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Card{
  display: flex;
  gap: 20px;
  height: 250px;
}
.ImageContainer>div{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .Card{
    flex-direction: column-reverse;
    height: auto;
  }
  .content{
    padding-inline: 30px;
  }
}
.Image{
  height: 100%; 
  object-fit: contain;
  border-radius: 10px;
  
  transition-duration: 0.5s;
}
.Image:hover{
  scale: 1.1;
}
.TextContainer{
  flex: 2;
  display: flex;
  flex-direction: column;
}
.TextContainer>h2{
  margin-top: 0;
}
.TextContainer>p{
  margin-top: 0;
  margin-bottom: 10px;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
}