:root {
  --cubitz-color-1: #8CAC00;
  --cubitz-color-2: #1D3758;
  --cubitz-color-3: #AD1200;
}
body{
  background-color: white;
  color: black;
  font-family: Onest Variable,system-ui,sans-serif;
  width: 100%;
  margin-inline: auto;
}
header{
  top: 0;
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
}
header>section{
  display: flex;
  align-items: center;
  gap: 600px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 4px;
  backdrop-filter: blur(5px);
}
header>section>nav{
  display: flex;
  align-items: center;
}
header>section>nav>a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
}
header>section>nav>a:hover{
  z-index: 1;
  outline: 2px solid var(--cubitz-color-2);
  border-radius: 5px;
}

.content{
  padding-top: 50px;
  max-width: 800px;
  margin-inline: auto;
}
.description>h1{
  max-width: 300px;
  text-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: xx-large;
}
.description>p{
  color: rgb(0,0,0,0.8);
  max-width: 300px;
  text-wrap: wrap;
  margin-top: 0;
  margin-bottom: 40px;
}
